<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>

		<main>
			<section class="about section container" id="about">
				<div class="about__container grid">
					<div class="about__data">
						<h2 class="section__title about__title">
							Who we really are & <br />
							why choose us
						</h2>
						<p class="about__description">
							At Leafy Haven, we are passionate about bringing the beauty and
							serenity of nature into your home and surroundings. Our team of
							plant enthusiasts is dedicated to offering outstanding customer
							service and ensuring that each plant you receive is healthy and
							vibrant.
						</p>
						<div class="about__details">
							<p class="about__details-description">
								<i class="ri-checkbox-fill about__details-icon"></i>
								Easy ordering, secure payments, and prompt doorstep delivery for
								a seamless shopping experience.
							</p>
							<p class="about__details-description">
								<i class="ri-checkbox-fill about__details-icon"></i>
								Extensive plant collection including flowering plants, air
								purifiers, cacti, ferns, and more from trusted nurseries.
							</p>
							<p class="about__details-description">
								<i class="ri-checkbox-fill about__details-icon"></i>
								Expert plant care tips on watering, light requirements, and
								troubleshooting for thriving plants.
							</p>
							<p class="about__details-description">
								<i class="ri-checkbox-fill about__details-icon"></i>
								Personalized plant recommendations based on location, lighting,
								and skill level.
							</p>
						</div>

						<a href="/products" class="button--link button--flex">Shop Now</a>
					</div>
				</div>
			</section>
		</main>
		<%- include('./partials/footer.ejs') %>
	</body>
</html>
